body, h1,h4,h5,h6 {font-family: "Montserrat", sans-serif}
h2,h3{font-family:Verdana, Geneva, Tahoma, sans-serif}
h6{font-family: cursive;}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('w1.png');
  min-height: 100%;
}

.button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  
  .button:hover {
    background-color: #f1f1f1;
  }